@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Black.ttf') format('truetype');
	font-style: bold;
	font-weight: 700;
}

@font-face {
	font-family: 'Fira Code';
	src: url('/fonts/FiraCode-Regular.ttf') format('truetype');
	font-style: normal;
}


body {
	font-family: 'Roboto', sans-serif;
}

code {
	font-family: 'Fira Code', monospace;
}